---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
---

<Layout>
    <section class="w-screen h-screen flex items-center justify-center">
        <div class="font-BebasNeue text-white text-6xl lg:text-9xl mr-2 ml-2">
            <h1>Marketing</h1>
            <h1 class="text-blue-700">Sheet</h1>
        </div>
        <div class="mt-4 text-white text-xl">
            <h1 class="font-BebasNeue">1. Logo Design:</h1>
            <img src="largelogo.png">
            <p class="font-OpenSans italic font-light text-gray-500 text-lg">Logo
            </p>
            <h1 class="font-BebasNeue">2. Mission Statement:</h1>
            <p class="font-OpenSans italic font-light text-gray-500 text-lg">"Southside Software: Empowering communities by bridging the digital divide in tech cities, ensuring equal access to technology and digital literacy for all."
            </p>
            <h1 class="font-BebasNeue">3. Catchphrase:
            </h1>
            <p class="font-OpenSans italic font-light text-gray-500 text-lg">"Connecting Communities, Empowering Futures."
            </p>
            <h1 class="font-BebasNeue">4. Keywords for Google Ads:
            </h1>
            <ul class="font-OpenSans italic font-light text-gray-500 text-lg">
                <li>Digital literacy
                </li>
                <li>Tech education nonprofit
                </li>
                <li>Bridging digital divide
                </li>
                <li>Community tech support
                </li>
                <li>Accessible technology
                </li>
                <li>Digital inclusion
                </li>
                <li>Tech city empowerment
                </li>
            </ul>
            <h1 class="font-BebasNeue">Marketing Strategy:
            </h1>
            <ul class="font-OpenSans italic font-light text-gray-500 text-lg">
                <li>a. Awareness: Utilize social media platforms, community events, and partnerships with local schools and businesses to spread awareness about your services.
                </li>
                <li>b. Cost: Since it's a nonprofit, focus on cost-effective marketing strategies like content marketing, volunteer word-of-mouth, and partnerships with other organizations for joint marketing efforts.
                </li>
                <li>c. Delivery: Your services could be delivered through workshops, online courses, and community tech hubs. Consider also a mobile app or website where resources can be easily accessed.
                </li>
                <li>d. Timeframe: The timeframe from customer awareness to service delivery depends on the specific service. For instance, online resources could be accessed immediately, while organized workshops or courses would have set dates.
                </li>
            </ul>

        </div>
    </section>
</Layout>