---
import '@fontsource/bebas-neue';
import '@fontsource-variable/oswald';
import '@fontsource/pt-serif';
import '@fontsource/zen-kaku-gothic-new';
import '@fontsource-variable/open-sans';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Fixing the digital divide." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<title>Digital Divide</title>
	</head>
	<body class="bg-black">
		<slot />
	</body>
</html>



